@import '../../globals.scss';

.layout {
    display: grid;
    grid-template: 1fr / auto;
    padding: 64px 32px;

    main {
        width: 100%;
        max-width: 360px;

        display: grid;
        grid-template: auto 1fr / 1fr;
        row-gap: 50px;

        margin: 0 auto;

        h1 {
            font-family:
                var(--font-tsukimi_rounded), var(--font-dm_sans), Arial;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}